@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wardrobe</h1>
    <p class="lead">Maintain Your Closet </p>

</div>

<div class="row">
    <div class="col-md-4" >
        <h2>Organize your Closet</h2>
        <p>
           Tops,Bottoms,Shoes,Accesories
        </p>
     </div>
    </div>

<img src="~/Content/Images/2fd5824adaf460be0db3ccd7687eb5be23015b3e.jpg" width="564" height="436" />